@for (div of divs; track div.imageUrl) {
<app-random-div
  [style.left.px]="div.left"
  [style.top.px]="div.top"
  [style.maxWidth.px]="div.width"
  [style.maxHeight.px]="div.height"
  [class.hovered]="div.hovered && !isDragging"
  (cdkDragStarted)="onDragStart($event, div)"
  (cdkDragEnded)="onDragEnd($event, div)"
  class="fixed"
  cdkDrag
>
  <a (click)="imageClick(div)" [title]="div.text" class="cursor-pointer">
    <img
      [src]="div.imageUrl"
      [alt]="div.text"
      [style.width.px]="div.width"
      [style.height.px]="div.height"
      (mouseenter)="div.hovered = true"
      (mouseleave)="div.hovered = false"
    />
  </a>
</app-random-div>
}
