@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
app-root {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}

.theme-dark {
  @apply text-gray-300;

  *,
  *::before,
  *::after {
    @apply text-gray-300;
  }

  body {
    @apply bg-gray-800;
  }
}

h1,
h2,
h3,
a,
p {
  @apply text-gray-800;
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark a,
.theme-dark p {
  @apply text-gray-300;
}
